[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.6"
django-debug-toolbar = "==6.0.0"
mysqlclient = "*"
djangorestframework = "==3.16.1"
markdown = "==3.9"
drf-nested-routers = "==0.95.0"
django-filter = "==25.1"
djoser = "==2.3.3"
djangorestframework-simplejwt = "==5.5.1"
social-auth-app-django = "==5.5.1"
pillow = "==11.3.0"
django-cors-headers = "==4.9.0"
django-templated-email = "==3.1.1"
django-templated-mail = "==1.1.1"
redis = "==6.4.0"
celery = "==5.5.3"
flower = "==2.0.1"
model-bakery = "==1.20.5"
asgiref = "==3.9.2"
certifi = "==2025.8.3"
cffi = "==2.0.0"
charset-normalizer = "==3.4.3"
cryptography = "==46.0.1"
defusedxml = "==0.7.1"
django-render-block = "==0.11"
idna = "==3.10"
oauthlib = "==3.3.1"
pycparser = "==2.23"
pyjwt = "==2.10.1"
python3-openid = "==3.2.0"
requests = "==2.32.5"
requests-oauthlib = "==2.0.0"
social-auth-core = "==4.7.0"
sqlparse = "==0.5.3"
tzdata = "==2025.2"
urllib3 = "==2.5.0"
django-redis = "==6.0.0"
whitenoise = "==6.11.0"
gunicorn = "==23.0.0"
amqp = "==5.3.1"
bidict = "==0.23.1"
billiard = "==4.2.2"
blinker = "==1.9.0"
brotli = "==1.1.0"
click = "==8.3.0"
click-didyoumean = "==0.3.1"
click-plugins = "==1.1.1.2"
click-repl = "==0.3.0"
colorama = "==0.4.6"
configargparse = "==1.7.1"
django-silk = "==5.4.3"
docopt = "==0.6.2"
flask = "==3.1.2"
flask-cors = "==6.0.1"
flask-login = "==0.6.3"
gevent = "==25.5.1"
geventhttpclient = "==2.3.4"
gprof2dot = "==2025.4.14"
greenlet = "==3.2.4"
h11 = "==0.16.0"
humanize = "==4.13.0"
iniconfig = "==2.1.0"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.6"
kombu = "==5.5.4"
locust = "==2.41.6"
locust-cloud = "==1.27.5"
markupsafe = "==3.0.3"
msgpack = "==1.1.2"
psycopg2-binary = "*"
dj-database-url = "*"
packaging = "==25.0"
platformdirs = "==4.5.0"
pluggy = "==1.6.0"
prometheus-client = "==0.23.1"
prompt-toolkit = "==3.0.52"
psutil = "==7.1.0"
pygments = "==2.19.2"
pytest = "==8.4.2"
pytest-django = "==4.11.1"
pytest-watch = "==4.2.0"
python-dateutil = "==2.9.0.post0"
python-engineio = "==4.12.3"
python-socketio = "==5.14.1"
pytz = "==2025.2"
pyzmq = "==27.1.0"
simple-websocket = "==1.1.0"
six = "==1.17.0"
tornado = "==6.5.2"
vine = "==5.1.0"
watchdog = "==6.0.0"
wcwidth = "==0.2.14"
websocket-client = "==1.9.0"
werkzeug = "==3.1.3"
wsproto = "==1.2.0"
"zope.event" = "==6.0"
"zope.interface" = "==8.0.1"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.13"
